{% extends 'base.html' %}

{% block title %}information{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
                    <ul>
                       
                        <li>email:{% if user.email %}{{ user.email }}<a href="{% url 'user/bind_email' %}?from={{ request.get_full_path }}">  change</a>{% endif %}</li>
                        
                    </ul>
                
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock %}